:root {
    --green-background: rgb(235, 255, 236);
    --green-light: rgb(167, 255, 174);
    --green-dark: rgb(0, 88, 7);
    --green-dark-background: rgb(0, 64, 5);
    --purple-background: rgb(255, 235, 253);
    --purple-light: rgb(255, 167, 248);
    --purple-dark: rgb(88, 0, 81);
    --purple-dark-background: rgb(38, 0, 35);
}
html {
    background-color: var(--purple-background);
}
.button {
    width: 200px;
    height: 124px;
    position: absolute;
    border: 2px solid var(--purple-dark);
    border-radius: 6px;
    background-color: var(--purple-background);
}
#plus::before, #plus::after {
    content: "";
    position: absolute;
    border: 2px solid var(--purple-dark);
    border-radius: 6px;
    background-color: var(--purple-light);
}
#plus::before {
    width: 80px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#plus::after {
    width: 20px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#border-hide {
    position: absolute;
    width: 80px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    background-color: var(--purple-light);
}