:root {
    --green-background: rgb(235, 255, 236);
    --green-light: rgb(167, 255, 174);
    --green-dark: rgb(0, 88, 7);
    --green-dark-background: rgb(0, 64, 5);
    --purple-background: rgb(255, 235, 253);
    --purple-light: rgb(255, 167, 248);
    --purple-dark: rgb(88, 0, 81);
    --purple-dark-background: rgb(38, 0, 35);
}
html {
    background-color: var(--purple-background);
}
.button {
    width: 100px;
    height: 62px;
    position: absolute;
    border: 2px solid var(--green-dark);
    border-radius: 6px;
    background-color: var(--green-background);
}
.button > #button-vertical {
    position: absolute;
    border: 2px solid var(--green-dark);
    background-color: var(--green-light);
    border-radius: 6px;
    width: 10px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button > #button-horizontal {
    position: absolute;
    border: 2px solid var(--green-dark);
    background-color: var(--green-light);
    border-radius: 6px;
    width: 40px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button.background {
    isolation: isolate;
    position: inherit;
    width: inherit;
    height: inherit;
    top: inherit;
    left: inherit;
    transform: inherit;
    background: inherit;
    z-index: 9999;
}